#proxmox
PROXMOX_PASSWORD=pass
PROXMOX_NODES=["f01-hv01","f01-hv02","f01-hv03"]
PROXMOX_HOST=https://192.168.0.1:8006
PROXMOX_USERNAME=root@pam
#vm
VM_COUNT=1
VM_ID=10001
VM_NAME=employee
VM_CORES=2
VM_MEMORY=2048
VM_DISK_SIZE=50
VM_TAGS=["deb","employee"]
STORAGE_POOL=zfs-ssd
#network vm
VLAN_ID=9
DNS_DOMAIN=sadkomed.local
DHCP=true
IP_ADDRESS=192.168.9.100/24
IP_GATEWAY=192.168.9.254