#proxmox
PROXMOX_PASSWORD=pass
PROXMOX_NODE=f01-hv01
PROXMOX_HOST=https://192.168.0.1:8006
PROXMOX_USERNAME=root@pam
#vm
VM_COUNT=1
VM_ID=131300
VM_NAME=f99-test
NAME_OFFSET=3
VM_CORES=2
VM_MEMORY=2048
VM_DISK_SIZE=20
VM_TAGS=["deb","pta","test"]
STORAGE_POOL=zfs-ssd
#network vm
VLAN_ID=9
DNS_DOMAIN=sadkomed.local
DHCP=false
IP_ADDRESS=192.168.9.85/24
IP_GATEWAY=192.168.9.254